body {
    /*  font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;*/
    padding: 15px;
}

h1 {
    text-align: center
}

#sub_title{
    width:90%;
    margin:0 auto;
    text-align:justify;
    font-size:16
}

/* FORMS */
select,
textarea,
input {

}

.header {
    font-size: 200%;
}

.lead{
    text-align: justify;
}

/*hides spin buttons on form input number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#message{
    text-align:left;
    display:block;
    width:100%;
    font-size:16
}

/* Image Designing Propoerties */
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.mailmessage {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
  color: black;
  font-family: monospace;
  padding: 20px;	  
}