# intermediate files
node_modules/
temp/
build/
bin/
test/www/*

# Cordova - platforms and plugins
platforms/
plugins/

# res
**/resources/signing

www/js/res/*
!www/js/res/car-list.js
!www/js/res/jquery-ui.min.js

# where the build script stores the apk
dist/formParkingViolation.*

# keys and credentials
credentials.js
www/js/credentials.js
server/DBcredentials.json
server/isClientAuthorized.js
keys/

#server
uploadToServer.sh
server/cryptoV3.db

## OS files
.DS_Store
