<div class="container-fluid section-head d-flex flex-row">
  <div class="p-1">
    <button type="button" id="sidebarCollapse" class="btn btn-dark d-inline-block d-lg-none ml-auto">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="pl-4 pt-0">
    <div id="header_title">
      <span class="h4 lh80">Denúncia de</span>
      <span class="h4 lh80">Estacionamento</span>
    </div>
    <div id="header_for_map">
      <select class="form-control input-lg" id="map_view_select" name="Tipo de visualização do mapa"></select>
    </div>
  </div>
</div>
