<meta charset="utf-8">

<title>Denúncia de Estacionamento</title>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<meta http-equiv="Content-Security-Policy" content="
  default-src 'self' data: file: gap: ms-appdata: https://ssl.gstatic.com https://developers.google.com https://ssl.gstatic.com https://maps.googleapis.com https://stackpath.bootstrapcdn.com https://cdnjs.cloudflare.com https://cdnjs.cloudflare.com https://use.fontawesome.com https://fonts.gstatic.com https://cmd.autenticacao.gov.pt https://frtend.reg.cmd.autenticacao.gov.pt https://contabo.joaopimentel.com https://www.carrosraros.pt http://www.passeiolivre.org https://www.passeiolivre.org 'unsafe-eval';
  style-src 'self' https://fonts.googleapis.com https://stackpath.bootstrapcdn.com 'unsafe-inline';
  media-src file: *;
  img-src 'self' https://maps.googleapis.com https://maps.gstatic.com https://contabo.joaopimentel.com data: file: content: https://csi.gstatic.com;
  script-src 'self' 'unsafe-inline' data: content: file: https://ssl.gstatic.com https://maps.googleapis.com https://developers.google.com https://stackpath.bootstrapcdn.com https://cdnjs.cloudflare.com https://cdnjs.cloudflare.com https://use.fontawesome.com https://cmd.autenticacao.gov.pt https://frtend.reg.cmd.autenticacao.gov.pt https://code.jquery.com
">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="css/res/bootstrap.min.css">
<link rel="stylesheet" href="css/res/jquery-ui.min.css">
<link rel="stylesheet" href="css/res/font-awesome.min.css">
<link rel="stylesheet" href="css/sidebar.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/res/jAlert.css">
