<div id="mail_message" class="section">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h3>Mensagem</h3>
      <div id="message" class="mailmessage"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p></p>
      <button type="button" class="btn btn-success" id="send_email_btn">Enviar</button>
    </div>
  </div>
</div>
