<nav id="sidebar">
  <ul class="list-unstyled components">

    <li id="form_show" class="mt-3">
      <div><i class="fa fa-paper-plane"></i></div>
      <div><a>Enviar</a></div>
    </li>

    <li id="personal_data_show">
      <div><i class="fa fa-address-card"></i></div>
      <div><a>Os meus dados</a></div>
    </li>

    <li id="historic_show">
      <div><i class="fa fa-history"></i></div>
      <div><a>Histórico</a></div>
    </li>

    <li id="map_section_show">
      <div><i class="fa fa-map"></i></div>
      <div><a>Mapa Geral</a></div>
    </li>

    <li id="legal_basis_show">
      <div><i class="fa fa-gavel"></i></div>
      <div><a>Base legal</a></div>
    </li>

    <li>
      <div class="list">
        <div><i class="fa fa-key"></i></div>
        <div>
          <a href="#pageSubmenuCmd" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Chave Móvel</a>
          <ul class="collapse list-unstyled" id="pageSubmenuCmd">
            <li id="cmd_how_it_works_show">
              <a>Como funciona</a>
            </li>
            <li id="cmd_legal_basis_shows">
              <a>Base legal</a>
            </li>
            <li>
              <a class="aderir_url" href="">Aderir</a>
            </li>
            <li>
              <a class="a_minha_area_url">Entrar na minha área</a>
            </li>
            <li>
              <a class="assinar_pdf_url">Assinar PDF</a>
            </li>
            <li>
              <a class="app_url">APP para os códigos</a>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li>
      <div class="list">
        <div><i class="fa fa-info-circle"></i></div>
        <div>
          <a href="#pageSubmenuAboutUs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sobre</a>
          <ul class="collapse list-unstyled" id="pageSubmenuAboutUs">
            <li id="privacy_policy_shows">
              <a>Política de privacidade</a>
            </li>
            <li>
              <a href="https://github.com/jfoclpf/form-for-parking-violation/">O código desta App</a>
            </li>
            <li>
              <span class="version"></span>
            </li>
          </ul>
        </div>
      </div>
    </li>

  </ul>
</nav>
