# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: iOS

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ios:
    strategy:
      matrix:
        platform: [macos-latest]
        node-version: [20]
        
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'
    - name: Install Apache Cordova
      run: npm install -g cordova
    - name: Add iOS Platform
      run: | 
        cordova platform rm android
        cordova platform add ios
    - run: npm test
    - name: Building APP
      run: cordova build ios --release
