/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 70vw;
    background: #343a40;
    color: #fff;
    transition: all 0.25s;
}

#sidebar.active {
    margin-left: -70vw;
    box-shadow: 10px 1px 0.5rem rgba(0,0,0,0.5);
}

#sidebarCollapse {
    margin: 0 !important;
}

#sidebar .sidebar-header {
    padding: 20px 20px 0 20px;
    display: flex;
}

#sidebar ul.components {
    padding: 0 0 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a, #sidebar ul li span {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* #sidebar ul li:hover {
    color: #7386D5;
    background: #fff;
} */

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #343a40;
}

#sidebar .list-unstyled li div {
  display: inline-block;
}

#sidebar li>div.list {
  position: relative;
}

#sidebar li>div.list>div:first-child {
  position: absolute;
  margin-top: 11px;
}

#sidebar li>div.list>div:nth-child(2) {
  margin-left: 20px;
}

/* for tests
#sidebar li div {
  border: 2px white solid;
}
#sidebar li {
  border: 2px blue solid;
}
-- */

#sidebar .list-unstyled li>div:first-child {
  margin-left: 2vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  margin-left: 6px;
  margin-bottom: -1px;
}

ul ul a, ul ul span {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #343a40;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #343a40 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -70vw;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
